services:
  - type: web
    name: gaelforsa-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python manage.py migrate && python manage.py collectstatic --noinput && gunicorn api.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DJANGO_SECRET_KEY
        sync: false
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: gaelforsa-api.onrender.com
    database:
      name: gaelforsa-db
      databaseName: gaelforsa
      user: gaelforsa

databases:
  - name: gaelforsa-db
    databaseName: gaelforsa
    user: gaelforsa
    plan: free

