@import './base.css';

@import './components/shared.css';
@import './components/header.css';
@import './components/sidebar.css';
@import './components/map.css';
@import './components/popup.css';
@import './components/loading.css';
@import './components/messages.css';
@import './components/turbine-details.css';
@import './components/dashboard.css';
@import './components/charts.css';

